﻿
@{
    ViewBag.Title = "Local";
}

<div class="landing">
    <h1>Local &amp; Horas</h1>

    <p>O Pub Marialva localiza-se junto ao rio na Avenida das Descobertas 21, junto ao mercado. Parqueamento limitado disponível.</p>
</div>

<aside class="sidebar">
    <div class="info">
        <h3>Horário</h3>
        <ul>
            <li>Segundas 10h &ndash; 2h</li>
            <li>Terças 10h &ndash; 2h</li>
            <li>Quartas 10h &ndash; 2h</li>
            <li>Quintas 10h &ndash; 2h</li>
            <li>Sextas 10h &ndash; 4h</li>
            <li>Sábados 10h &ndash; 4h</li>
            <li>Domingos 10h &ndash; 2h</li>
        </ul>
    </div>

    <div class="info">
        <h3>Noticia Importante</h3>
        <p>Estaremos encerrados entre 12.24 &ndash; 12.30 para renovações.</p>
    </div>

</aside>

