﻿@model List<PubMarialvaMVC.Models.Menus>
@{
    ViewBag.Title = "Menu";
}

<div class="landing">
    <h1>Menu</h1>
    <h2>Outono 2017</h2>
    <p>Os nossos menus são preparados sempre com ingredientes frescos e sabores locais. Os nossos menus varíam com as estações e com a disponibilidade dos ingredientes. Isso significa que nunca pagará ingredientes fora da temporada. Abaixo, poderá ver uma amostra de alguns dos pratos favoritos dos nossos clientes. As promoções variam diariamente e são publicadas, ou pode ligar antecipadamente para 21.678.987.</p>
</div>

<div class="gallery">

    <img src="~/Content/Img/prato-especial.jpg" alt="Prato Especial da Casa">
    <img src="~/Content/Img/escalopes.jpg" alt="Escalopes">
    <img src="~/Content/Img/salada.jpg" alt="Salada">
    <img src="~/Content/Img/filet.jpg" alt="Fillet">

</div>
<div class="landing"><h1>Pratos do Dia @DateTime.Now.ToString("dd/MM")</h1></div>
<div class="info">
    <h3>Entrada</h3>
    <ul>
        @foreach (var item in Model)
        {
        <li>@item.Entrada</li>
        }
    </ul>
</div>

<div class="info">
    <h3>Acompanhamento</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Acompanhamento</li>
        }
    </ul>
</div>

<div class="info">
    <h3>Prato</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Pratos</li>
        }
    </ul>
</div>
