﻿@model PubMarialvaMVC.Models.Reserva
@{
    ViewBag.Title = "Reserva";
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/datepicker-pt.js"></script>
<link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.timepicker.min.js"></script>


<div class="landing"><h1>Faça a sua reserva</h1></div>

    @using (Html.BeginForm())
    {
<div class="reserva">
    <div>
        @Html.LabelFor(model => model.Nome, "Nome")<br>
        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { type = "text", placeholder = "Nome" } })
    </div>

    <div>
        @Html.LabelFor(model => model.Sobrenome, "Sobrenome")<br>
        @Html.EditorFor(model => model.Sobrenome, new { htmlAttributes = new { type = "text", placeholder = "Sobrenome" } })
    </div>

    <div>
        @Html.LabelFor(model => model.Data, "Data")<br>
        @Html.EditorFor(model => model.Data, new { htmlAttributes = new { type = "data", placeholder = "Data" } })
    </div>

    <div>
        @Html.LabelFor(model => model.Hora, "Hora")<br>
        @Html.EditorFor(model => model.Hora, new { htmlAttributes = new { type = "hora", placeholder = "Hora" } })
    </div>
    <br />
    <button type="submit" class="button_1">Enviar</button>
</div>
    }


    <script type="text/javascript">
        $(function () {
            $('#Data').datepicker({
                "dateFormat": "dd/mm/yy"
            });
            $("#Data").datepicker($.datepicker.regional['pt']);

            $('#Hora').timepicker({
                'timeFormat': 'H:i',
                'disableTimeRanges': [
                    ['00:00', '12:00'],
                    ['15:00', '18:00']
                ]
            });
        });

    </script>


