﻿  <!doctype html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - Pub Marialva</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC:400,400i,700i">
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min.js"></script>

    @Styles.Render("~/Content/styles.css")
    @Styles.Render("~/Content/normalize.css")
    @Scripts.Render("~/bundles/jquery")
</head>

<body>
    <div class="container">
        <header>
            <a href="#" class="logo"><img src="~/Content/Img/logo.png" alt="Logotipo do Pub Marialva"></a>

            <nav class="main-navigation">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Menu", "Menu", "Home")</li>
                    <li>@Html.ActionLink("Localização", "Local", "Home")</li>
                    <li>@Html.ActionLink("Reservas", "Reserva", "Home")</li>
                </ul>
            </nav>
        </header>

        @RenderBody()
        @RenderSection("scripts", required: false)

        <footer>
            <h4>Contacte-nos</h4>
            <p>21.252.235</p>
            <p>contato@pubmarialva.pt</p>
        </footer>
    </div>
</body>
</html>
