﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <hgroup>
        <h1>Erro</h1>
        <h2>Aconteceu um erro com o servidor. Por favor tente mais tarde.</h2>
    </hgroup>
</body>
</html>
